body
{
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center;
	background-color: rgb(155, 172, 200);
	background-image: url('plane-background.jpg');
	background-blend-mode: lighten;
	
	text-align: center;
	margin: 0;
}
.container
{
	display: inline-block;
	width: 100%;
	max-width: 1024px;
	padding-top: 15px;
	
	background-color: rgba(84, 110, 150, 0.75);
}
header
{
	margin: 0px 50px 0px 50px;
	font-size: 18px;
}
section
{
	margin: 0px 50px 0px 50px;
	font-size: 17px;
}
#conclusion
{
	font-size: 18px;
}
footer
{
	padding: 20px 0px 15px 0px;
	background-color: #276F65;
	margin-top: 20px;
}

#the-title
{
	margin: 0;
	padding: 30px 0px 30px 0px;
	background-color: #276F65;
	width: 100%;
}
.title
{
	padding: 25px 0px 25px 0px;
	width: 100%;
	background-color: #276F65;
}

.quotation
{
	margin: 25px 0px 60px 0px;
	font-family: 'Oswald', Arial, serif;
}
.important
{
	font-family: 'Oswald', Arial, serif;
	font-size: 30px;
	padding: 10px 0px 10px 0px;
}
q
{
	display: block;
	font-size: 30px;
	margin-right: 30px;
}
.author
{
	font-size: 20px;
	float: right;
	margin-top: 5px;
}
.formula
{
	font-family: 'Oswald', Arial, serif;
	font-size: 35px;
	padding: 10px 0px 10px 0px;
}
.subsection
{
	border-bottom: #276F65 2px solid;
	display: inline-block;
	padding: 12px 150px 12px 150px;
	margin: 25px 0px 25px 0px;
	
	color: #276F65;
	font-family: 'Abel', serif;
	font-size: 27px;
}
.image-title
{
	display: inline-block;
	font-family: 'Abel', serif;
	font-size: 15px;
	color: #444466;
	padding: 0;
	text-align: center;
}

p
{
	font-family: 'Titillium Web', sans-serif;
	color: #14143B;
	text-align: justify;
	
	padding: 15px 30px 15px 30px;
	margin: 0;
}
.gras
{
	font-weight: bold;
}

h1, h2, h3, h4, h5
{
	font-family: 'Cinzel Decorative', serif;
	color: #C5C5AC;
	margin: 0;
	font-weight: normal;
}
h1
{
	font-size: 75px;
}
h3
{
	font-size: 35px;
}
h2
{
	font-size: 40px;
}
h4
{
	font-size: 22px;
}
h5
{
	font-size: 15px;
}
#problematique
{
	width: 100%;
	background-color: #224E92;
	margin: 10px 0px 10px 0px;
}
#problematique p
{
	font-family: 'Rajdhani', serif;
	font-size: 32px;
	color: #B5B5AC;
	
	text-align: center;
}

nav
{
	background-color: #114A7B;
	width: 100%;
	text-align: center;
	z-index: 1;
}
ul
{
	list-style-type: none;
	padding: 10px 0px 10px 0px;
	width: 100%;
	margin: 0;
}
li
{
	font-family: 'Abel', serif;
	font-size: 30px;
	
	margin: 10px 20px 10px 20px;
	
	display: inline-block;
}
a, a:visited
{
	color: #C5C5AC;
	text-decoration: none;
}
#second-part
{
	border-left: 2px solid #C5C5AC;
	display: inline-block;
	padding-left: 20px;
	margin-left: 20px;
}
#first-part
{
	display: inline-block;
}
@media screen and (max-width: 1251px)
{
	li
	{
		font-size: 23px;
		margin: 8px 17px 8px 17px;
	}
}

@media screen and (max-width: 989px)
{
	#second-part
	{
		border-left: none;
		border-top: 2px solid #C5C5AC;
		
		padding-left: 0px;
		margin-left: 0px;
		
		padding-top: 10px;
		margin-top: 10px;
	}
	#first-part
	{
		display: block;
		text-align: center;
	}
}
@media screen and (max-width: 699px)
{
	li{
		font-size: 20px; }
	header{
		font-size: 14px; }
	section{
		font-size: 13px; }
	q{
		font-size: 22px; }
	.author{
		font-size: 14px; }
	.formula{
		font-size: 24px; }
	h1{
		font-size: 60px; }
	h3{
		font-size: 24px; }
	h2{
		font-size: 30px; }
	h4{
		font-size: 17px; }
	#problematique p{
		font-size: 24px; }
	.subsection {
		font-size: 20px;
	}
		
	section, header{
		margin: 0px 20px 0px 20px; }
	.quotation{
		margin: 18px 0px 40px 0px; }
	li{
		margin: 7px 15px 7px 15px; }
	.subsection
	{
		padding: 8px 100px 8px 100px;
		margin: 15px 0px 15px 0px;
	}
}
#fixed-nav
{
	position: fixed;
	top: 0px;
	display: none;
}


.left-handed, .right-handed
{
	display: inline-block;
	vertical-align: middle;
	padding: 15px 15px 15px 15px;
}
.text
{ width: 49%; }
.image
{ width: 40%; }
.image img, .image30 img
{ width: 100%; }
.image p, .image30 p
{ padding: 0; }
.image30
{ width: 28% }
.text60
{ width: 60% }

video
{
	width: 100%;
}
section video
{
	width: 70%;
}
footer div
{
	vertical-align: top;
}
#sources, #divers
{
	display: block;
}
#images
{
	display: inline-block;
	width: 55%;
}
#images li
{
	text-align: left;
}
#autres
{
	display: inline-block;
	width: 44%;
}
#autres li
{
	text-align: right;
}
footer li
{
	color: #C5C5AC;
	font-size: 12px;
	display: block;
	word-wrap: break-word;
	margin: 10px 20px 10px 20px;
}
.centered
{
	max-width: 90%;
}
.italique
{
	font-style: italic;
}