body
{
	background-color: #9BACC8;
	text-align: center;
	margin: 0;
}
.container
{
	display: inline-block;
	width: 100%;
	max-width: 1024px;
	padding-top: 15px;
	
	background-color: #5E7BA8;
}
header
{
	margin: 0px 50px 0px 50px;
}

#the-title
{
	margin: 0;
	padding: 30px 0px 30px 0px;
	background-color: #276F65;
	display: inline-block;
	width: 100%;
}


.quotation
{
	margin: 25px 0px 60px 0px;
}
q
{
	font-family: 'Oswald', Arial, serif;
	display: block;
	font-size: 30px;
	margin-right: 30px;
}
.author
{
	font-family: 'Oswald', Arial, serif;
	display: inline-block;
	font-size: 20px;
	float: right;
	margin-top: 5px;
}

p
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #14143B;
	text-align: justify;
	
	margin: 22px 30px 22px 30px;
}

h1, h2, h3
{
	font-family: 'Cinzel Decorative', serif;
	color: #C5C5AC;
	margin: 0;
}
h1
{
	font-weight: normal;
	font-size: 75px;
}
h3
{
	font-weight: normal;
	font-size: 35px;
}
#problematique
{
	display: inline-block;
	width: 100%;
	background-color: #224E92;
}
#problematique p
{
	font-weight: normal;
	font-family: 'Rajdhani', serif;
	font-size: 32px;
	color: #B5B5AC;
	
	text-align: center;
}

nav
{
	background-color: #114A7B
}
ul
{
	list-style-type: none;
	margin: auto;
	padding: 15px 0px 15px 0px;
	text-align: center;
	width: 100%;
}
li
{
	font-weight: light;
	font-family: 'Abel', serif;
	font-size: 30px;
	
	padding: 5px 20px 5px 20px;
	
	display: inline-block;
}
.divider
{
	border-left: 1px solid black;
	padding-left: 40px;
	margin-left: 20px;
}